@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  white-space: pre-line;
}

.active {
  color: #fff;
}

.active-icon {
  color: #b57295 !important;
}

.sidebar-items {
  color: gray;
  font-size: large;
  padding: 1rem;
  width: 100%;
  border-radius: 15px;
}

.sidebar-items p {
  margin-left: 1em;
}

.sidebar-items:hover {
  cursor: pointer;
  background-color: #b1b1b118;
}

.sidebar-items:hover p {
  color: white;
}

.sidebar-items:hover svg {
  color: #b57295;
}

.sidebar-items.active {
  background-color: #b1b1b12d;
}

.active svg {
  color: #b57295;
}

.active p {
  color: white;
}

.sidebar-items:not(:last-child) {
  margin-bottom: 1em;
}

.financial-stats {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1em;
}
