@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  white-space: pre-line;
}

.active {
  color: #fff;
}

.active-icon {
  color: #b57295 !important;
}

.sidebar-items {
  color: gray;
  font-size: large;
}

.sidebar-items p {
  margin-left: 1em;
}

.sidebar-items:hover p {
  color: white;
}

.sidebar-items:hover svg {
  color: #b57295;
}

.sidebar-items:not(:last-child) {
  margin-bottom: 1em;
}

.financial-stats {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1em;
}
